html {
    background-color: #FF5910;

}

header {
    text-align: left;
}

body {
    background-color: lightgrey;
    text-align: left;
    padding: 1%;
}

h1 {
    color: #002D72;
}

h3 {
    font-size: 30px;
    text-align: left;
    color: #002D72;
}

p {
    font-size: 15px;
}


* {
    font-family: sans-serif;
}

img {
    width: 15%;
    border-radius: 8px;
    display: block;
    margin: left;
}

.subheader {
    font-size: 20px;
    text-align: left;
    color: #002D72;
}

.button {
    background-color: #002D72;
    color: #FF5910;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin: 2px;
    margin-top: 10px;
}

#favorites {
    width: 25%;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin-top: 1%;
}

#honorable {
    width: 25%;
    background-color: slategray;
    border: 1px solid black;
    color: white;
    padding: 10px;
    margin-top: 1%;
}

.flex-container {
    display: flex;
}

.box {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
}